<!DOCTYPE html>
<html lang="en">
<head>
    <title>More</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css-sass/Blog-more.css' %}">
    <script type="text/javascript" src="{% static 'js-Ajax/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js-Ajax/js.cookie.js' %}"></script>
    <script type="text/javascript" src="{% static 'js-Ajax/persian-date-0.1.8.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js-Ajax/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'js-Ajax/Blog-more.js' %}"></script>
</head>
<body>
<div id="wrapper">
    <div id="header">
        <h1>Read More about your favorite Cartoon!</h1>
    </div>
    <div id="blog-more">
        <div class="more-content">
            <div class="more-title"></div>
            <div class="more-text">
                <p></p>
            </div>
            <div class="more-date blog-date"></div>
            <a class="comment" href="" id="cm">Comment</a>
            <a class="back" href="Blog.html">Home</a>
        </div>
    </div>
    <div id="footer">
        <h5>Made by Kosar Kazemi © 2017</h5>
    </div>
</div>
</body>
</html>